body {
    background-color: rgba(173, 216, 230, 0.5);
}

/* COLOR PALETTE */
.bg-pri {
    background-color: #363062;
}

.bg-sec {
    background-color: #4D4C7D;
}

.bg-ter {
    background-color: #F5F5F5;
}

.bg-inf {
    background-color: #F99417;
}

.cl-pri {
    color: #363062;
}

.cl-sec {
    color: #F99417;
}

.cl-ter {
    color: #F5F5F5;
}



.carousel {
    box-shadow: 1px 1px 6px black;
}
.carousel-content {
    opacity: 1;
    font-size: 1em;
    color: black;
    background-color: rgba(173, 216, 230, 0.8);
}


/*BOX ICONS*/
.bx {
    font-size: 2em;
}

/* NAVBAR */
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: #F99417;
}

.nav-link {
    color: white;
}
.nav-item :hover {
    color: #F99417;
}

/*Tecnologias*/

.tec-card {
    transition: 0.5s 0s;
}

.tec-card:hover {
    transform: scale(1.02);
    box-shadow: 0.5px 0.5px 3px black;
}

#lprogramacao {
    background-image: url("./../img/pexels-kevin-ku-577585.jpg");
    background-size: cover;
}

#frontend  {
    background-image: url("./../img/pexels-pixabay-270404.jpg");
    background-size: cover;
}

#backend {
    background-image: url("./../img/pexels-luis-gomes-546819.jpg");
    background-size: cover;
}

#ferramentas {
    background-image: url("./../img/tools.jpg");
    background-size: cover;
}

section > h2 {
    color: orangered;
    text-shadow: 1px 1px 1px black;
}